<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

    <div class="flex-column">

        <div class="row-1 flex-1 flex">

            <form th:action="@{/logout}" method="post" th:hidden="false" name="logoutForm">
                <input class="button-30" type="submit" value="Logout"/>
            </form>

        </div>

        &nbsp;

        <div class="row-2 flex-1">

            <a th:href="@{/admin/users}"><button class="button-30">Create new user</button></a>

        </div>

        &nbsp;
        &nbsp;

        <div class="row-3 flex-1 flex">

            <a class="button-30" th:href="@{/admin/users/export/csv}" title="Export to CSV">Export all users to CSV</a>
            <a class="button-30" th:href="@{/admin/users/export/pdf}" title="Export to PDF">Export unemployed users to PDF</a>
            <a class="button-30" th:href="@{/admin/users/export/excel}" title="Export to EXCEL">Export employers users to EXCEL</a>

        </div>

        &nbsp;
        &nbsp;

        <div class="row-4 flex-1 center">

            <table class="flat-table">
                <tbody>
                <tr>
                    <th> <a th:href="@{'/admin/users/page/' + ${currentPage} + '?sortField=' + 'id' + '&sortDir=' + ${sortDir == 'id' ? sortDir : reverseSortDir}}">Id</a></th>
                    <th> <a th:href="@{'/admin/users/page/' + ${currentPage} + '?sortField=' + 'firstName' + '&sortDir=' + ${sortDir == 'firstName' ? sortDir : reverseSortDir}}">First Name</a></th>
                    <th> <a th:href="@{'/admin/users/page/' + ${currentPage} + '?sortField=' + 'lastName' + '&sortDir=' + ${sortDir == 'lastName' ? sortDir : reverseSortDir}}">Last Name</a></th>
                    <th> <a th:href="@{'/admin/users/page/' + ${currentPage} + '?sortField=' + 'email' + '&sortDir=' + ${sortDir == 'email' ? sortDir : reverseSortDir}}">Email</a></th>
                    <th> <a th:href="@{'/admin/users/page/' + ${currentPage} + '?sortField=' + 'role' + '&sortDir=' + ${sortDir == 'role' ? sortDir : reverseSortDir}}">Role</a></th>
                    <th> <a th:href="@{'/admin/users/page/' + ${currentPage} + '?sortField=' + 'enabled' + '&sortDir=' + ${sortDir == 'enabled' ? sortDir : reverseSortDir}}">Enabled</a></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="user : ${userList}">
                    <td>[[${user.id}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td class="hideable-column">[[${user.email}]]</td>
                    <td>[[${user.role.name}]]</td>
                    <td>
                        <a th:if="${user.enabled == true}">Enabled</a>
                        <a th:if="${user.enabled == false}">Disabled</a>
                    </td>
                    <td>
                        <a th:href="@{'/admin/users/edit/' + ${user.id}}" title="Edit this user">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/admin/users/delete/' + ${user.id}}" th:userId="${user.id}" title="Delete this user">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        &nbsp;
        &nbsp;
        <div th:if="${totalPages} > 1" class="row-5 flex" >

            <li th:if="${currentPage > 1}" class="page flex-1">
                <a class="button-30" th:href="@{'/admin/users/page/' + ${1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
            </li>
            <li th:if="${currentPage > 1}" class="page flex-1">
                <a class="button-30" th:href="@{'/admin/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            </li>
            <li th:if="${currentPage != totalPages}" class="page flex-1">
                <a class="button-30" th:href="@{'/admin/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            </li>
            <li th:if="${currentPage != totalPages}" class="page flex-1">
                <a class="button-30" th:href="@{'/admin/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            </li>


        </div>

    </div>



</body>
</html>